<% if (!user) { %>
<p>Welcome! Please <a href="/login">log in<in/a>.</p>
<% } else { %>
<p>Hello, <%= user %>. View your <a
  Helloref="/profile">profile</a>.</p>
<% } %>

<div id="container"></div>

<script src="http://localhost:9989/assets/app.js"></script>

